body {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #835858;
    justify-content: center;
    justify-items: center;
    height: 60px;
}

.nav-container {
    justify-content: end;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.nav-link
{
    transition: all 0.3s ease-in-out;
}
.nav-link:hover
{
    color:rgb(166, 110, 41);
}
.nav-link {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
}

.left-column {
    background-color: #ebd4d4;
    display: flex;
    flex-direction: column;
    width: 39%;
    animation: slideInLeft 1s forwards;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.profile-info {
    display: flex;
    gap: 45px;
}

.profile-img {
    border-radius: 2%;
    height: 220px;
    width: 150px;
}

.divider {
    background-color: black;
    height: 2px;
    width: 89%;
}

.contact-list {
    list-style-type: none;
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.contact-link {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.contact-link:hover
{
    color:rgb(166, 110, 41);
}

.right-column {
    background-color: #fff0f0;
    width: 69%;
    animation: slideInRight 1s forwards;
}

.content {
    margin-left: 20px;
}

.project-link {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.project-link:hover
{
    color:rgb(166, 110, 41);
}
.footer {
    background-color: #5c341e;
    height: 115px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.github-img {
    width: 100px;
    height: 100px;
}
.rsschool
{
    width: 100px;
    height: 100px;
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
