footer 
{
    background-color: #9f9799;
    height: 220px;
    left: 0;
    position: absolute;
    width: 100%;
}
nav
{
    background-color: rgb(151, 148, 148);
    position: fixed; 
    top: 0;
    height: 40px;
    left: 0;
    width: 100%;

}   
nav ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav a
{
    color: rgb(244, 239, 239);
    text-decoration: none;
}
h1
{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
} 
p
{
    font-size: 16px;
    line-height: 1.5;
    
}
body
{
    background-image: url("images/backround.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    padding: 20px;    
}
img 
{
    vertical-align: middle;
}
footer img 
{
    display: inline-block;
    vertical-align: middle;
}